<!--Cube-->
<div id="square1"></div>
<div id="square2"></div>
<div id="square3"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #0B2429;
  }
  div {
    position: relative;
  }
  #square1{
    width: 100px;
    height: 100px;
    margin-top: 135px;
    margin-left: 150px;
    background: #F3AC3C;
    transform: rotate(45deg);
  }
  #square2{
    width: 70px;
    height: 70px;
    margin-top: -155px;
    margin-left: 130px;
    background: #998235;
    transform: skew(0deg, -45deg);
    z-index: -1;
  }
  #square3{
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-left: 200px;
    background: #1A4341;
    transform: skew(0deg, 45deg);
    z-index: -1;
  }
</style>
