<!--Ticket-->
<div id="wrap"></div>
<style>
  body{
    background: #62306D;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wrap{
    background: linear-gradient(90deg, rgba(247, 236, 125, 1) 70%, rgba(227, 143, 102, 1) 70%);
    width: 200px;
    height: 100px;
  }
  #wrap:before{
    background: #62306D;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 80px;
    box-shadow: 0px 100px 0 0 #62306D, 140px 100px 0px -10px #62306D, 140px 0px 0px -10px #62306D, 200px 100px 0 0 #62306D, 200px 0px 0 0 #62306D;
  }
</style>