<!--Birdie-->
<div id="first">
    <div id="circle"></div>
  </div>
  <div id="second"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #1A4341;
    }
    #first{
      background: #998235;
      width: 75px;
      height: 150px;
      margin-top: 75px;
      margin-left: 125px;
      border-top-left-radius: 110px;
      border-bottom-left-radius: 110px;
      display: flex;
    }
    #second{
      background: #F3AC3C;
      width: 100px;
      height: 100px;
      margin-top: -175px;
      margin-left: 200px;
      border-top-right-radius: 110px;
    }
    #circle{
      background: #0B2429;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin-top: 30px;
      margin-left: 30px;
    }
  </style>