<!--Christmas Tree-->
<div class="triangle" id="first"></div>
<div class="triangle" id="second"></div>
<div class="triangle" id="third"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #007065;
  }
  div{
    position: relative;
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 125px 100px 125px;
    margin-left: 75px;
  }
  #first{
    border-color: transparent transparent #FFEECF transparent;
    margin-top: 50px;
    z-index: 2;
  }
  #second{
    border-color: transparent transparent #F5C181 transparent;
    margin-top: -50px;
    z-index: 1;
  }
  #third{
    border-color: transparent transparent #00A79D transparent;
    margin-top: -50px;
    z-index: -1;
  }
</style>
