<!--Ice Cream-->
<div id="icecream"></div>
<div id="stick"></div>
<div id="shadow"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #293462;
  }
  div{
    position: relative;
  }
  #icecream{
    background: #FFF1C1;
    width: 100px;
    height: 150px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 50px 50px 20px 20px;
  }
  #stick{
    background: #FE5F55;
    width: 30px;
    height: 50px;
    margin-left: 185px;
    border-radius: 0px 0px 10px 10px;
  }
  #shadow{
    background: #A64942;
    width: 30px;
    height: 10px;
    margin-top: -50px;
    margin-left: 185px;
  }
</style>
