<!--Interleaved-->
<div class="stick bg1 top" id="stick1"></div>
<div class="stick bg2 bottom" id="stick2"></div>
<div class="stick bg1 top" id="stick3"></div>
<div class="stick bg2 bottom" id="stick4"></div>
<div class="stick bg1 top" id="stick5"></div>
<style>
  *{
    margin: 0
  }
  body{
    background: #1A4341;
  }
  .bg1{
    background: #F3AC3C;
  }
  .bg2{
    background: #998235;
  }
  .circle{
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  .stick{
    width: 50px;
    height: 200px;
  }
  .top{
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
  }
  .bottom{
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
  }
  #stick1{
    margin-top: 100px;
    margin-left: 25px;
  }
  #stick2{
    margin-top: -300px;
    margin-left: 100px;
  }
  #stick3{
    margin-top: -100px;
    margin-left: 175px;
  }
  #stick4{
    margin-top: -300px;
    margin-left: 250px;
  }
  #stick5{
    margin-top: -100px;
    margin-left: 325px;
  }
</style>