<!--Tunnel-->
<div class="bg2" id="first"></div>
<div class="bg1" id="second"></div>
<div class="bg2" id="third"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #6592CF;
  }
  .bg1{
    background: #6592CF;
  }
  .bg2{
    background: #243D83;
  }
  #first{
    width: 250px;
    height: 250px;
    margin-top: 25px;
    margin-left: 75px;
  }
  #second{
    width: 150px;
    height: 150px;
    margin-top: -200px;
    margin-left: 125px;
    transform: rotate(15deg);
  }
  #third{
    width: 75px;
    height: 75px;
    margin-top: -112px;
    margin-left: 163px;
    transform: rotate(30deg);
  }
</style>
