<!--Not Simply Square-->
<div id="square1"></div>
<div class="rectangle1" id="big-rectangle1">
  <div class="rectangle2" id="small-rectangle1"></div>
</div>
<div class="rectangle1" id="big-rectangle2">
  <div class="rectangle2" id="small-rectangle2"></div>
</div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #293462;
  }
  .rectangle1{
    background: #FE5F55;
  }
  .rectangle2{
    background: #A64942;
  }
  #square1{
    background: #FFF1C1;
    width: 200px;
    height: 200px;
  }
  #big-rectangle1{
    width: 200px;
    height: 100px;
    display: flex;
  }
  #big-rectangle2{
    width: 100px;
    height: 200px;
    margin-top: -300px;
    margin-left: 200px;
    display: flex;
  }
  #small-rectangle1{
    width: 50px;
    height: 100px;
    margin-left: 150px;
  }
  #small-rectangle2{
    width: 100px;
    height: 50px;
    margin-top: 150px;
  }
</style>
