<!--Sunset-->
<div class="circle bg3" id="circle2"></div>
<div id="middle">
  <div class="circle bg2" id="circle1"></div>
</div>
<div class="stick bg1" id="stick1"></div>
<div class="stick bg1 margin-20" id="stick2"></div>
<div class="stick bg1 margin-20" id="stick3"></div>
<div class="stick bg1 margin-20" id="stick4"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #1A4341;
  }
  div{
    position: relative;
  }
  .circle{
    border-radius: 100%;
  }
  .stick{
    width: 300px;
    height: 20px;
    margin-left: 50px;
  }
  .margin-20{
    margin-top: 20px;
  }
  .bg1{
    background: #1A4341;
  }
  .bg2{
    background: #F3AC3C;
  }
  .bg3{
    background: #998235;
  }
  .bg4{
    background: red;
  }
  #circle1{
    width: 250px;
    height: 240px;
    margin-left: 5px;
    margin-top: -50px;
  }
  #circle2{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 50px;
  }
  #middle{
    width: 260px;
    height: 140px;
    margin-left: 70px;
    margin-top: -170px;
    overflow: hidden;
  }
  #stick1{
    margin-top: -140px;
  }
</style>
