<!--Letter B-->
<div class="circle bg2" id="circle">
    <div class="circle bg1" id="inner-circle"></div>
  </div>
  <div class="stick bg2" id="stick1"></div>
  <div class="stick bg1" id="stick2"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #6592CF;
    }
    .bg1{
      background: #6592CF;
    }
    .bg2{
      background: #243D83;
    }
    .circle{
      border-radius: 100%;
    }
    .stick{
      width: 50px;
      height: 100px;
    }
    #circle{
      width: 200px;
      height: 200px;
      margin-top: 50px;
      margin-left: 100px;
      display: flex;
    }
    #inner-circle{
      width: 100px;
      height: 100px;
      margin-left: 50px;
      margin-top: 50px;
    }
    #stick1{
      margin-top: -200px;
      margin-left: 100px;
    }
    #stick2{
      margin-top: -100px;
      margin-left: 150px;
    }
  </style>
  