<!--Foxhead-->
<div id="first"></div>
<div id="second"></div>
<div class="circle" id="eye1"></div>
<div class="circle" id="eye2"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #293462;
  }
  .circle{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: #293462;
  }
  #first{
    width: 50px;
    height: 150px;
    margin: 180 0 0 150;
    border-top-right-radius: 40px;
    box-shadow: 0 -100px 0 0 #FE5F55;
  }
  #second{
    width: 50px;
    height: 150px;
    margin-top: -150px;
    margin-left: 200px;
    border-top-left-radius: 40px;
    box-shadow: 0 -100px 0 0 #FE5F55;
  }
  #eye1{
    margin-top: -190px;
    margin-left: 165px;
  }
  #eye2{
    margin-top: -30px;
    margin-left: 205px;
  }
</style>