<!--Baby-->
<div id="baby">
    <div class="bg1" id="left"></div>
    <div class="bg1" id="right"></div>
  </div>
    <div class="bg1" id="mouth">
  <style>
    *{
      margin: 0;
    }
    body{
      background: #293462;
    }
    .bg1{
      background: #FFF1C1;
    }
    #baby{
      background: #FE5F55;
      width: 200px;
      height: 200px;
      border-radius: 100px 100px 50px 50px;
      margin-top: 50px;
      margin-left: 100px;
      position: relative;
      overflow: hidden;
      z-index: -1;
    }
    #left{
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: -50px;
      box-shadow: 0 120px 0 -20px #FFF1C1;
    }
    #right{
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: -50px;
      left: 100px;
      box-shadow: 0 120px 0 -20px #FFF1C1;
    }
    #mouth{
      width: 40px;
      height: 10px;
      border-radius: 5px;
      margin-top: -30px;
      margin-left: 180px;
      z-index: 1;
    }
  </style>
  