<!--Wrench-->
<div id="cool"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #6592CF;
  }
  #cool{
    width: 40px;
    height: 182px;
    border: 30px solid #243D83;
    border-radius: 0 80px 80px 0;
    border-left: 0;
    margin: 30px 0 0 145px;
    -webkit-box-reflect: right -30px;
  }
</style>