<!--Stripes-->
<div id="stripe"></div>
<div id="shadow"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #1A4341;
  }
  #stripe{
    width: 400px;
    height: 200px;
    background: repeating-linear-gradient(#F3AC3C, #F3AC3C 20px, #1A4341 20px, #1A4341 40px);
    margin-top: 60px;
  }
  #shadow{
    background: #1A4341;
    width: 254px;
    height: 280px;
    border-radius: 50%;
    margin-top: -250px;
    margin-left: -104px;
    -webkit-box-reflect: right 100px;
  }
</style>
