<!--SitePoint Logo-->
<div id="wrap">
    <p class="long bg1" id="orange-long"></p>
    <p class="short bg1" id="orange-short"></p>
    <p class="long bg2" id="blue-long"></p>
    <p class="short bg2" id="blue-short"></p>
  </div>
  <style>
    body{
      background: #222;
    }
    #wrap{
      width: 82px;
      height: 132px;
      position: absolute;
      top: 50.1%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .bg1{
      background: #F2994A;
    }
    .bg2{
      background: #2D9CDB;
    }
    .long{
      width: 100px;
      height: 30px;
    }
    .short{
      width: 30px;
      height: 80px;
    }
    p{
      position: absolute;
    }
    #orange-long{
      top: -16px;
      border-radius: 10px 0 0;
    }
    #orange-short{
      top: -16px;
      border-radius: 10px 0 5px;
    }
    #blue-long{
      bottom: -14px;
      right: 0;
      border-radius: 0 0 10px;
    }
    #blue-short{
      right: 0;
      bottom: -14px;
      border-radius: 5px 0 10px;
    }
  </style>