<!--Cloud-->
<div class="circle bg1 big" id="cloud1"></div>
<div class="circle bg1 big" id="cloud2"></div>
<div class="circle bg1" id="cloud3"></div>
<div class="bg1" id="stick"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #F5D6B4;
  }
  div{
    position: relative;
  }
  .bg1{
    background: #D86F45;
  }
  .circle{
    border-radius: 100%;
  }
  .big{
    width: 100px;
    height: 100px;
  }
  #cloud1{
    margin-top: 115px;
    margin-left: 100px;
  }
  #cloud2{
    margin-top: -130px;
    margin-left: 180px;
  }
  #cloud3{
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-left: 250px;
  }
  #stick{
    width: 120px;
    height: 50px;
    margin-top: -50;
    margin-left: 155px;
  }
</style>
