<!--Boxception-->
<div id="first">
    <div id="second">
      <div id="third"></div>
    </div>
  </div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #F3AC3C;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    div{
      display: flex;
    }
    #first{
      width: 200px;
      height: 200px;
      background: #1A4341;
    }
    #second{
      width: 100px;
      height: 100px;
      background: #998235;
      margin-top: 100px;
    }
    #third{
      width: 50px;
      height: 50px;
      background: #F3AC3C;
      margin-top: 50px;
      margin-left: 50px;
    }
  </style>
  