<!--Switches-->
<div class="circle bg1" id="first"></div>
<div class="circle bg1" id="second"></div>
<div class="back bg2" id="third"></div>
<div class="back bg3" id="fourth"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #62306D;
  }
  div{
    width: 100px;
    height: 100px;
    position: relative;
  }
  .circle{
    border-radius: 100%;
  }
  .bg1{
    background: #F7EC7D;
  }
  .bg2{
    background: #AA445F;
  }
  .bg3{
    background: #E38F66;
  }
  .back{
    z-index: -1;
  }
  #first{
    margin-top: 100px;
    margin-left: 80px;
  }
  #second{
    margin-top: -100px;
    margin-left: 220px;
  }
  #third{
    margin-top: -150px;
    margin-left: 80px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
  #fourth{
    margin-left: 220px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }
</style>
