<!--Blossom-->
<div class="bg1" id="first"></div>
<div class="bg2" id="second"></div>
<div class="bg2" id="third"></div>
<div class="bg1" id="fourth"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #998235;
  }
  .bg1{
    background: #1A4341;
  }
  .bg2{
    background: #F3AC3C;
  }
  #first{
    width: 80px;
    height: 100px;
    margin-top: 60px;
    margin-left: 110px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  #second{
    width: 80px;
    height: 60px;
    margin-top: -100px;
    margin-left: 210px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  #third{
    width: 80px;
    height: 60px;
    margin-top: 60px;
    margin-left: 110px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  #fourth{
    width: 80px;
    height: 100px;
    margin-top: -100px;
    margin-left: 210px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
</style>
