<!--Smiley-->
<div class="outer circle" id="first">
    <div class="inner circle"></div>
  </div>
  <div class="outer circle" id="second">
    <div class="inner circle"></div>
  </div>
  <div class="outer circle" id="third">
    <div class="inner circle"></div>
  </div>
  <div id="rectangle"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #6592CF;
    }
    .circle{
      border-radius: 100%;
    }
    .outer{
      width: 120px;
      height: 120px;
      background: #060F55;
      display: flex;
    }
    .inner{
      width: 80px;
      height: 80px;
      background: #6592CF;
      margin-top: 20px;
      margin-left: 20px;
    }
    #first{
      margin-top: 40px;
      margin-left: 40px;
    }
    #second{
      margin-top: -120px;
      margin-left: 240px;
    }
    #third{
      margin-top: -20px;
      margin-left: 140px;
    }
    #rectangle{
      background: #6592CF;
      width: 100%;
      height: 100px;
      margin-top: -160px;
    }
  </style>
  