<!--Lock Up-->
<div class="circle bg1" id="outer">
    <div class="circle bg2" id="inner">
      <div class="circle bg1" id="innest"></div>
    </div>
  </div>
  <div class="square bg1" id="square1"></div>
  <div class="square bg1" id="square2"></div>
  
  <style>
    *{
      margin: 0;
    }
    body{
      background: #E38F66;
    }
    div{
      position: relative;
    }
    .bg1{
      background: #AA445F;
    }
    .bg2{
      background: #F7EC7D;
    }
    .circle{
      border-radius: 100%;
    }
    .square{
      width: 70px;
      height: 70px;
    }
    #outer{
      width: 200px;
      height: 200px;
      margin-top: 50px;
      margin-left: 100px;
      display: flex;
    }
    #inner{
      width: 140px;
      height: 140px;
      margin-top: 30px;
      margin-left: 30px;
    }
    #innest{
      width: 80px;
      height: 80px;
      margin-top: 30px;
      margin-left: 30px;
    }
    #square1{
      margin-top: -170px;
      margin-left: 130px;
      z-index: 1;
    }
    #square2{
      margin-left: 200px;
      z-index: 1;
    }
  </style>
  