<!--Cups & Balls-->
<div class="wrap">
    <p class="circle bg1"></p>
    <p class="up bg2"></p>
    <p class="up bg1"></p>
    <p class="circle bg2"></p>
  </div>
  <div class="wrap">
    <p class="down bg2"></p>
    <p class="circle bg1"></p>
    <p class="circle bg2"></p>
    <p class="down bg1"></p>
  </div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #1A4341;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      margin-left: 60px;
    }
    div{
      display: flex;
    }
    p{
      width: 50px;
      height: 50px;
      background: red;
      margin: 10px;
    }
    .bg1{
      background: #998235;
    }
    .bg2{
      background: #F3AC3C;
    }
    .circle{
      border-radius: 100%;
    }
    .up{
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
    }
    .down{
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
    }
  </style>
  