<!--Pythagoras-->
<div id="first"></div>
<div id="second"></div>
<div id="third"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #D25B70;
  }
  #first{
    background: #6CB3A9;
    width: 60px;
    height: 60px;
    transform: rotate(37deg);
    margin-top: 78px;
    margin-left: 114px;
  }
  #second{
    background: #F6DF96;
    width: 80px;
    height: 80px;
    transform: rotate(37deg);
    margin-top: -84px;
    margin-left: 202px;
  }
  #third{
    background: #F7F3DA;
    width: 100px;
    height: 100px;
    margin-top: 16px;
    margin-left: 150px;
  }
</style>
