<!--Equals-->
<div id="circle"></div>
<div id="rectangle"></div>
<style>
  body{
    background: #AA445F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div{
    position: relative;
  }
  #circle{
    width: 250px;
    height: 200px;
    border-radius: 200px;
    background: conic-gradient(#E38F66 180deg, #F7EC7D 180deg);
  }
  #rectangle{
    position: absolute;
    background: #AA445F;
    width: 50px;
    height: 100%;
  }
</style>
