<!--Band-aid-->
<div class="square rotate" id="square1"></div>
<div class="rectangle bg1 rotate" id="rectangle1"></div>
<div class="rectangle bg2 rotate2" id="rectangle2"></div>
<div class="rectangle bg1 rotate" id="rectangle3"></div>
<div class="rectangle bg2 rotate2" id="rectangle4"></div>
<style>
  *{
    margin: 0;
  }
  .bg1{
    background: #F3AC3C;
  }
  .bg2{
    background: #A3A368;
  }
  .rotate{
    transform: rotate(45deg);
  }
  .rotate2{
    transform: rotate(-45deg);
  }
  .rectangle{
    width: 75px;
    height: 50px;
  }
  .square{
    width: 50px;
    height: 50px;
    background: #FBE18C;
  }
  #square1{
    margin-top: 125px;
    margin-left: 175px;
  }
  #rectangle1{
    margin-top: -94px;
    margin-left: 118px;
  }
  #rectangle2{
    margin-top: -50px;
    margin-left: 207px;
  }
  #rectangle3{
    margin-top: 38px;
    margin-left: 207px;
  }
  #rectangle4{
    margin-top: -50px;
    margin-left: 118px;
  }
</style>