<!--Cloaked Spirits-->
<div class="circle bigger bg3" id="circle1">
    <div class="circle inner bg2" id="innercircle1"></div>
  </div>
  <div class="circle bigger bg2" id="circle2">
    <div class="circle inner bg3" id="innercircle1"></div>
  </div>
  <div class="circle bigger bg2" id="circle3">
    <div class="circle inner bg3" id="innercircle1"></div>
  </div>
  <div class="rectangle bg1 back" id="rectangle1"></div>
  <div class="rectangle bg1 back" id="rectangle2"></div>
  <div class="rectangle bg1 back" id="rectangle3"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #62306D;
    }
    div{
      position: relative;
    }
    .circle{
      border-radius: 100%;
    }
    .bg1{
      background: #F7EC7D;
    }
    .bg2{
      background: #AA445F;
    }
    .bg3{
      background: #E38F66;
    }
    .bigger{
      width: 100px;
      height: 100px;
      display: flex;
    }
    .inner{
      width: 60px;
      height: 60px;
      margin-top: 20px;
      margin-left: 20px;
    }
    .rectangle{
      width: 100px;
      height: 300px;
    }
    #circle1{
      margin-top: 50px;
      margin-left: 150px;
    }
    #circle2{
      margin-left: 50px;
    }
    #circle3{
      margin-top: -100px;
      margin-left: 250px;
    }
    #rectangle1{
      margin-top: -50px;
      margin-left: 50px;
    }
    #rectangle2{
      margin-top: -400px;
      margin-left: 150px;
    }
    #rectangle3{
      margin-top: -200px;
      margin-left: 250px;
    }
    .back{
      z-index: -1;
    }
  </style>
  