<!--Eye Of Sauron-->
<div class="circle bg1" id="circle1">
    <div class="circle bg3" id="innercircle1">
      <div class="circle bg2" id="innercircle2"></div>
    </div>
  </div>
  <div class="circle bg3 big" id="outcircle1"></div>
  <div class="circle bg3 small" id="outcircle1-2"></div>
  <div class="circle bg1 big" id="outcircle2"></div>
  <div class="circle bg3 small" id="outcircle2-2"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #191210;
    }
    div{
      position: relative;
    }
    .bg1{
      background: #ECA03D;
    }
    .bg2{
      background: #84271C;
    }
    .bg3{
      background: #191210;
    }
    .circle{
      border-radius: 100%;
      display: flex;
    }
    .big{
      width: 60px;
      height: 10px;
      border-top: 0;
      border: 20px solid #ECA03D;
    }
    .small{
      width: 60px;
      height: 60px;
    }
    #circle1{
      width: 140px;
      height: 140px;
      margin-top: 80px;
      margin-left: 130px
    }
    #innercircle1{
      width: 100px;
      height: 100px;
      margin-top: 20px;
      margin-left: 20px;
    }
    #innercircle2{
      width: 50px;
      height: 50px;
      margin-top: 25px;
      margin-left: 25px;
    }
    #outcircle1{
      margin-top: -70px;
      margin-left: 50px;
      border-radius: 0 0 70px 70px;
    }
    #outcircle1-2{
      margin-top: -80px;
      margin-left: 70px;
    }
    #outcircle2{
      margin-top: -80px;
      margin-left: 250px;
      border-radius: 70px 70px 0 0;
    }
    #outcircle2-2{
      margin-top: -30px;
      margin-left: 270px;
    }
  </style>
  