<!--Wiggly Moustache-->
<div class="dot bg1"></div>
<div class="connector border circle" id="left-margin"></div>
<div class="border circle" id="middle-circle"></div>
<div class="connector border circle"></div>
<div class="dot bg1"></div>

<style>
	body {
    	background: #F5D6B4;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }
    .bg1{
        background: #D86F45;
    }
    .circle{
        width: 60px;
        height: 30px;
    }
    .border{
        border: 20px solid #D86F45;
    }
    #middle-circle {
        border-radius: 60px 60px 0 0;
        border-bottom: 0;
        position: fixed;
        margin-bottom: 50px
    }
    #left-margin{
        margin-right: 60px
    }
    .connector{
        border-radius: 0 0 70px 70px;
        border-top: 0;
        margin-top: 50px
    }
    .dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: -20px;
        margin-right: -20px
    }
</style>
