<!--Carrom-->
<div id="one-one"></div>
<div id="one-two"></div>
<div id="two-one"></div>
<div id="two-two"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #62374E;
  }
  div{
    width: 50px;
    height: 50px;
    background: #FDC57B;
  }
  #one-one{
    margin-top: 50px;
    margin-left: 50px;
  }
  #one-two{
    margin-top: -50px;
    margin-left: 300px;
  }
  #two-one{
    margin-top: 100px;
    margin-left: 50px;
  }
  #two-two{
    margin-top: -50px;
    margin-left: 300px;
  }
</style>
