<!--Push Button-->
<div class="bg1" id="rectangle"></div>
<div class="bg2 circle" id="circle1"></div>
<div class="bg1 circle" id="circle2"></div>
<div class="bg3 circle" id="circle3"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #6592CF;
  }
  .bg1{
    background: #243D83;
  }
  .bg2{
    background: #6592CF;
  }
  .bg3{
    background: #EEB850;
  }
  .circle{
    border-radius: 100%;
  }
  #rectangle{
    width: 300px;
    height: 150px;
    margin-top: 75px;
    margin-left: 50px;
  }
  #circle1{
    width: 250px;
    height: 250px;
    margin-top: -200px;
    margin-left: 75px;
  }
  #circle2{
    width: 150px;
    height: 150px;
    margin-top: -200px;
    margin-left: 125px;
  }
  #circle3{
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-left: 175px;
  }
</style>
