<!--Up n Downs-->
<div class="top" id="one"></div>
<div class="bottom" id="two"></div>
<div class="bottom" id="three"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #62306D;
  }
  div {
    width: 100px;
    height: 100px;
    background: #F7EC7D;
  }
  #one{
    margin-top: 50px;
    margin-left: 150px;
  }
  #two{
    margin-left: 50px;
  }
  #three{
    margin-top: -100px;
    margin-left: 250px;
  }
  .top{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
  .bottom{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }
</style>
