<!--Acid Rain-->
<div class="circle bg1" id="circle1"></div>
<div class="circle bg2 square" id="circle2"></div>
<div class="circle bg1 square" id="circle3"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #0B2429
  }
  .bg1{
    background: #F3AC3C;
  }
  .bg2{
    background: #998235;
  }
  .circle{
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }
  .square{
    border-top-right-radius: 0;
  }
  #circle1{
    margin-left: 200px;
    margin-top: 30px;
  }
  #circle2{
    margin-left: 140px;
    margin-top: -60px;
  }
  #circle3{
    margin-left: 80px;
    margin-top: -60px;
  }
</style>
