<!--Missing Slice-->
<div class="bg1" id="slice1"></div>
<div class="bg2" id="slice2"></div>
<div class="bg3" id="slice3"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #E3516E;
  }
  .bg1{
    background: #51B5A9;
  }
  .bg2{
    background: #FADE8B;
  }
  .bg3{
    background: #F7F3D7;
  }
  div {
    width: 100px;
    height: 100px;
  }
  #slice1{
    margin-left: 100px;
    margin-top: 50px;
    border-top-left-radius: 100%;
  }
  #slice2{
    margin-left: 200px;
    margin-top: -100px;
    border-top-right-radius: 100%;
  }
  #slice3{
    margin-left: 100px;
    border-bottom-left-radius: 100%;
  }
</style>
