<!--Leafy Trail-->
<p class="lemon bg3"></p>
<p class="lemon bg2"></p>
<p class="lemon bg1"></p>
<style>
  body{
    background: #0B2429;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lemon{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 67% 0;
  }
  .bg1{
    background: #F3AC3C;
    transform: translateX(+50px);
  }
  .bg2{
    background: #998235;
  }
  .bg3{
    background: #1A4341;
    transform: translateX(-50px);
  }
</style>
