<!--Forking Crazy-->
<div class="forkstick bg2" id="forkstick1"></div>
<div class="forkstick bg2" id="forkstick2"></div>
<div class="forkstick bg2" id="forkstick3"></div>
<div class="forkstick bg2" id="forkstick4"></div>
<div class="forkstick bg2" id="forkstick5"></div>
<div class="bg2" id="fork"></div>
<div class="forkstick bg1" id="ghoststick1"></div>
<div class="forkstick bg1" id="ghoststick2"></div>
<div class="forkstick bg1" id="ghoststick3"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #6592CF;
  }
  .bg1{
    background: #6592CF;
  }
  .bg2{
    background: #060F55;
  }
  .forkstick{
    width: 20px;
    height: 120px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  #forkstick1{
    margin-left: 130px;
    margin-top: 50px;
  }
  #forkstick2{
    margin-left: 170px;
    margin-top: -120px;
  }
#forkstick3{
    margin-left: 210px;
    margin-top: -120px;
  }
  #forkstick4{
    margin-left: 250px;
    margin-top: -120px;
  }
  #forkstick5{
    margin-top: 20px;
    margin-left: 190px;
  }
  #fork{
    width: 140px;
    height: 140px;
    margin-top: -200px;
    margin-left: 130;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  #ghoststick1{
    margin-top: -210px;
    margin-left: 150px;
  }
  #ghoststick2{
    margin-top: -120px;
    margin-left: 190px;
  }
  #ghoststick3{
    margin-top: -120px;
    margin-left: 230px;
  }
</style>
