<!--Tesseract-->
<div class="bg1" id="rectangle"></div>
<div class="bg3 rotate" id="square1"></div>
<div class="bg1 rotate" id="square2"></div>
<div class="bg2" id="circle"></div>

<style>
  *{
    margin: 0;
  }
  body{
    background: #222730;
  }
  div{
    position: relative;
  }
  .bg1{
    background: #4CAAB3;
  }
  .bg2{
    background: #393E46;
  }
  .bg3{
    background: #222730;
  }
  .rotate{
    transform: rotate(45deg);
  }
  #rectangle1{
    width: 400px;
    height: 150px;
    margin-top: 75px;
  }
  #square1{
    width: 250px;
    height: 250px;
    margin-top: -200px;
    margin-left: 75px;
  }
  #square2{
    width: 150px;
    height: 150px;
    margin-top: -200px;
    margin-left: 125px;
  }
  #circle1{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 175px;
    margin-top: -100px;
  }
</style>
