<!--Curtain-->
<div class="wrap">
    <div class="circle bg1"></div>
    <div class="circle bg1"></div>
    <div class="circle bg1"></div>
    <div class="circle bg1"></div>
  </div>
  <div class="wrap">
    <div class="circle bg1"></div>
    <div class="circle bg1"></div>
    <div class="circle bg1"></div>
  </div>
  <div class="wrap">
    <div class="circle bg1"></div>
    <div class="circle bg1"></div>
  </div>
  <div class="wrap">
    <div class="circle bg1"></div>
  </div>
  <style>
    *{
      margin: 0;
    }
    body{
      margin: 10px;
      background: #191919;
    }
    .bg1{
      background: #F6E59C;
    }
    .circle{
      border-radius: 100%;
      width: 40px;
      height: 40px;
      margin: 10px;
    }
    .wrap{
      display: flex;
    }
  </style>
  