<!--Droplet-->
<div class="bg2" id="up"></div>
<div class="bg2" id="stick"></div>
<div class="bg1" id="shadow1"></div>
<div class="bg1" id="shadow2"></div>
<div class="bg2" id="shadow3"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #C36271;
  }
  .bg1{
    background: #C36271;
  }
  .bg2{
    background: #F2E09F;
  }
  #up{
    width: 380px;
    height: 150px;
    border-bottom-right-radius: 100px;
  }
  #stick{
    width: 125px;
    height: 150px;
  }
  #shadow1{
    width: 200px;
    height: 200px;
    border-radius: 100% 100% 100% 0%;
    margin-top: -150px;
    margin-left: 20px;
  }
  #shadow2{
    width: 100px;
    height: 50px;
    margin-top: -250px;
    margin-left: 150px;
    border-radius: 100px 100px 0% 0%;
  }
  #shadow3{
    width: 100px;
    height: 50px;
    margin-left: 150px;
    border-radius: 0% 0% 100px 100px;
  }
</style>
