<!--Beeee-->
<div class="wing bg3" id="wing1"></div>
<div class="wing bg3" id="wing2"></div>
<div id="bee"></div>
<div class="bg1" id="dot"></div>

<style>
  *{
    margin: 0;
  }
  body{
    background: #998235;
  }
  div{
    position: relative;
  }
  .bg1{
    background: #191919;
  }
  .bg2{
    background: #EFF33C;
  }
  .bg3{
    background: #FFFFFF;
  }
  .wing{
    height: 75px;
    width: 75px;
  }
  #wing1{
    border-radius: 50% 50% 0% 50%;
    margin-top: 75px;
    margin-left: 125px;
  }
  #wing2{
    border-radius: 50% 50% 50% 0%;
    margin-top: -75px;
    margin-left: 200px;
  }
  #bee{
    width: 150px;
    height: 75px;
    margin-left: 125px;
    background: linear-gradient(90deg, #191919 0 25px, #EFF33C 25px 35px, #191919 35px 60px, #EFF33C 60px 70px, #191919 60px, 95px, #EFF33C 0);
    border-radius: 72px;
    z-index: -1;
  }
  #dot{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-top: -55px;
    margin-left: 240px;
  }
</style>
