<!--Totally Triangle-->
<div></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #0B2429;
  }
  div {
    width: 200px;
    height: 200px;
    background: #F3AC3C;
    transform: rotate(45deg);
    margin-top: -100px;
    margin-left: -100px;
  }
</style>
