<!--Web Maker Logo-->
<div class="wrap">
    <div class="triangle1" id="up1"></div>
    <div class="triangle1" id="up2"></div>
    <div class="triangle2" id="down1"></div>
    <div class="triangle2" id="down2"></div>
  </div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #F2F2B6;
    }
    .triangle1, .triangle2{
      width: 0;
      height: 0;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent
    }
    #up1{
      border-top: 130px solid #FF6D00;
      transform: translateX(160px);
      z-index: 2
    }
    #up2{
      border-top: 130px solid #FD4602;
      transform: translateX(30px)
    }
    #down1{
      border-bottom: 130px solid #FF6D00;
      transform: translateX(-10px)
    }
    #down2{
      border-bottom: 130px solid #FD4602;
      transform: translateX(-180px);
      z-index: 2
    }
    .wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%
    }
  </style>
  