<!--Overlap-->
<div class="circle bg1" id="left-circle">
    <div class="circle bg3" id="inner-circle"></div>
  </div>
  <div class="circle bg2" id="right-circle"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #09042A;
      margin:0;
      padding:0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div {
      width: 100px;
      height: 100px;
      background: #dd6b4d;
    }
    .bg1{
      background: #7B3F61;
    }
    .bg2{
      background: #E78481;
    }
    .bg3{
      background: #09042A;
    }
    .circle{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: relative;
    }
    #inner-circle{
      background: #09042A;
      position: absolute;
      left: 100px;
      z-index: 2;
    }
    #left-circle{
      left: 25px;
      overflow: hidden;
    }
    #right-circle{
      background: #E78481;
      left: -25px;
    }
  </style>
  