<!--Eye Of The Tiger-->
<div class="circle bg1" id="circle1"></div>
<div class="circle bg3" id="circle2"></div>
<div class="circle bg2" id="circle3"></div>
<div class="circle bg3" id="circle4"></div>
<div class="square rotate bg1" id="square1"></div>
<div class="square rotate bg1" id="square2"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #0B2429
  }
  div{
    position: relative;
  }
  .bg1{
    background: #998235;
  }
  .bg2{
    background: #F3AC3C;
  }
  .bg3{
    background: #0B2429;
  }
  .circle{
    border-radius: 100%;
  }
  .rotate{
    transform: rotate(45deg);
  }
  .square{
    width: 100px;
    height: 100px;
    z-index: -23;
  }
  #circle1{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
  }
  #circle2{
    width: 180px;
    height: 180px;
    margin-top: -190px;
    margin-left: 110px;
  }
  #circle3{
    width: 140px;
    height: 140px;
    margin-top: -160px;
    margin-left: 130px;
  }
  #circle4{
    width: 50px;
    height: 50px;
    margin-top: -95px;
    margin-left: 175px;
  }
  #square1{
    margin-top: -75px;
    margin-left: 80px;
  }
  #square2{
    margin-top: -100px;
    margin-left: 220px;
  }
</style>
