<!--Fidget Spinner-->
<div class="circle big bg1" id="big-circle1">
    <div class="circle small bg3"></div>
  </div>
  <div class="circle big bg1" id="big-circle2">
    <div class="circle small bg3"></div>
  </div>
  <div class="circle big bg3" id="big-circle3">
    <div class="circle small bg2"></div>
  </div>
  <div class="circle big bg3" id="big-circle4">
    <div class="circle small bg2"></div>
  </div>
  <div class="bg1" id="rectangle1"></div>
  <style>
    *{
      margin: 0;
    }
    body{
      background: #09042A;
    }
    div {
      position: relative;
    }
    .bg1{
      background: #E78481;
    }
    .bg2{
      background: #F5BB9C;
    }
    .bg3{
      background: #09042A;
    }
    .circle{
      border-radius: 100%;
    }
    .big{
      width: 80px;
      height: 80px;
    }
    .big2{
      width: 70px;
      height: 70px;
    }
    .small{
      width: 60px;
      height: 60px;
      transform: translate(10px, 10px)
    }
    #big-circle1{
      margin-top: 110px;
      margin-left: 100px;
    }
    #big-circle2{
      margin-top: -80px;
      margin-left: 220px;
    }
    #big-circle3{
      margin-top: -133px;
      margin-left: 160px;
    }
    #big-circle4{
      margin-top: 26px;
      margin-left: 160px;
    }
    #rectangle1{
      width: 100px;
      height: 50px;
      margin-top: -118px;
      margin-left: 150px;
      z-index: -10;
    }
  </style>
  