<!--Matrix-->
<div class="wrap pull">
    <div class="circle bg2 less-margin"></div>
    <div class="circle bg1 more-margin"></div>
    <div class="circle bg2 more-margin"></div>
    <div class="circle bg1 more-margin"></div>
  </div>
  <div class="wrap pull">
    <div class="circle bg1 less-margin"></div>
    <div class="circle bg2 more-margin"></div>
    <div class="circle bg1 more-margin"></div>
    <div class="circle bg2 more-margin"></div>
  </div>
  <div class="wrap">
    <div class="circle bg2 less-margin"></div>
    <div class="circle bg1 more-margin"></div>
    <div class="circle bg2 more-margin"></div>
    <div class="circle bg1 more-margin"></div>
  </div>
  <style>
    *{
      margin: 0;
    }
    div{
      position: relative;
      display: flex;
    }
    body{
      background: #5C434C;
    }
    .bg1{
      background: #F5D6B4;
    }
    .bg2{
      background: #F09462;
    }
    .wrap{
      width: 100%;
      height: 33%;
      margin-top: 10px;
      padding: 0;
    }
    .less-margin{
      margin-left: 10px;
    }
    .more-margin{
      margin-left: 20px;
    }
    .circle{
      width: 80px;
      height: 80px;
      border-top-left-radius: 100%;
    }
    .pull{
      margin-bottom: -9px;
    }
  </style>
  