<!--Summit-->
<p id="square"></p>
<style>
  *{
    margin: 0;
  }
  body{
    background: radial-gradient(circle, #F9E492 40%, #191919 1%);
  }
  #square{
    width: 200px;
    height: 200px;
    background: radial-gradient(circle at -6px -6px, #191919 100px, #4F77FF 1%);
    transform: rotate(45deg);
    position: absolute;
    left: 100px;;
    bottom: -100px;
  }
</style>
