<!--Eclipse-->
<div class="big circle bg1" id="first"></div>
<div class="circle bg2" id="second">
  <div class="big circle bg3" id="inner"></div>
</div>
<div class="big circle bg1" id="third"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #F3AC3C;
  }
  div{
    position: relative;
  }
  .circle{
    border-radius: 100%;
  }
  .bg1{
    background: #998235;
  }
  .bg2{
    background: #F3AC3C;
  }
  .bg3{
    background: #1A4341;
  }
  .big{
    width: 400px;
    height: 400px;
  }
  #first{
    margin-top: -250px;
  }
  #second{
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: 75px;
    display: flex;
  }
  #inner{
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-left: 25px;
  }
  #third{
    margin-top: -125px;
  }
</style>
