<!--Reflection-->
<div id="big-rectangle"></div>
<div id="circle"></div>
<div class="stick" id="first"></div>
<div class="stick margin-10"></div>
<div class="stick margin-10"></div>
<div class="stick margin-10"></div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #6CB3A9;
  }
  #big-rectangle{
    background: #D25B70;
    width: 400px;
    height: 150px;
  }
  #circle{
    background: #F6DF96;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: -100px;
    margin-left: 100px;
  }
  .stick{
    background: #6CB3A9;
    width: 200px;
    height: 15px;
    margin-left: 100px;
  }
  #first{
    margin-top: -100;
  }
  .margin-10{
    margin-top: 10px;
  }
</style>
