<!--Pokeball-->
<div class="circle" id="big"></div>
<div class="circle" id="red"></div>
<div class="circle" id="little-red">
    <div class="circle" id="yellow"></div>
  </div>
<style>
  *{
    margin: 0;
  }
  body{
    background: #6CB3A9;
  }
  div{
    position: relative;
  }
  .circle{
    border-radius: 100%;
  }
  #big{
    background: linear-gradient(
      #D25B70,
      #D25B70 45%,
      transparent 45%,
      transparent 55%,
      #FFFFFF 55%
    );
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
  }
  #red{
    background: #781728;
    width: 180px;
    height: 180px;
    margin-top: -190px;
    margin-left: 110px;
    display: flex;
    z-index: -1;
  }
  #little-red{
    background: #781728;
    width: 70px;
    height: 70px;
    margin-top: -125px;
    margin-left: 165px;
    z-index: 1;
    display: flex;
  }
  #yellow{
    background: #F6DF96;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
</style>
