<!--Suffocate-->
<div id="square">
    <span class="space" id="up-left"></span>
    <span class="space" id="up-right"></span>
    <span class="space" id="bottom-left"></span>
    <span class="space" id="bottom-right"></span>
  </div>
  <style>
    body{
      background: #F3AC3C;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #square{
      width: 200px;
      height: 200px;
      background: #1A4341;
      display: flex;
      flex-wrap: wrap;
    }
    .space{
      width: 50%;
      height: 50%;
      background: #F3AC3C;
    }
    #up-left{
      border-radius: 0 0 100px 0;
    }
    #up-right{
      border-radius: 0 0 0 100px;
    }
    #bottom-left{
      border-radius: 0 100px 0 0;
      
    }
    #bottom-right{
      border-radius: 100px 0 0 0;
    }
  </style>
  