<!--Horizon-->
<div id="first"></div>
<div id="second"></div>
<div id="third"></div>
<div id="fourth"></div>
<style>
  *{
    margin: 0;
  }
  div {
    width: 100%;
  }
  #first{
    background: #F7EC7D;
    height: 50px;
  }
  #second{
    background: #E38F66;
    height: 50px;
  }
  #third{
    background: #AA445F;
    height: 100px;
  }
  #fourth{
    background: #62306D;
    height: 100px;
  }
</style>
